<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <img src="https://www.pngitem.com/pimgs/m/98-985804_old-books-no-background-image-pile-of-books.png" width="50" height="50" class="d-inline-block align-top" alt="">
    <h2 class="navbar-brand" >Recipie Book</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link"  style="color: #e3f2fd;" href="www.google.com">Recipes</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: #e3f2fd;" href="#">Contribute</a>
        </li>
      </ul>
    </div>
</nav>
