<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light">Recipie Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link text-light"
          routerLinkActive="active"
          routerLink="/home"
          >Home</a
        >
        <a
          class="nav-link text-light"
          routerLink="/recipe/recipelist"
          routerLinkActive="active"
          >Recipes</a
        >
        <a
          *ngIf="!login"
          class="nav-link text-light"
          routerLink="/login"
          routerLinkActive="active"
          >Sign In</a
        >
        <a
          *ngIf="login"
          class="nav-link text-light"
          routerLink="/contributor"
          routerLinkActive="active"
          >Contribute</a
        >
        <a
          *ngIf="login"
          class="nav-link text-light"
          routerLink="/home"
          routerLinkActive="active"
          (click)="onReset()"
          >Sign Out</a
        >
      </div>
    </div>
  </div>
</nav>
