<ng-template appAlertPlaceHolder></ng-template>
<div class="container" *ngIf="!isLoading">
  <div class="login-center">
    <div class="center">
      <div class="header">
        <h3>{{ !newUser ? "Sign In" : "SignUp" }}</h3>
      </div>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            email
          />
          <span
          class="help-block"
          *ngIf="
            !authForm.get('email').valid &&
            authForm.get('email').touched
          "
          >**This field is required.</span
        >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            autocomplete="off"
            class="form-control"
            formControlName="password"
          />
          <span
          class="help-block"
          *ngIf="
            !authForm.get('password').valid &&
            authForm.get('password').touched
          "
          >**This field is required.</span
        >
        </div>
        <button
          *ngIf="!newUser"
          class="btn btn-success"
          type="submit"
          [disabled]="!authForm.valid"
        >
          Login
        </button>
        <button
          *ngIf="newUser"
          class="btn btn-success"
          type="submit"
          [disabled]="!authForm.valid"
        >
          Sign Up
        </button>
        <span style="padding-left: 10px"></span>
        <button class="btn btn-danger" type="button" (click)="cancel()">
          Cancel
        </button>
        <p>
          <!-- <a style="cursor: pointer; color: #ffffff" (click)="newUsers()"
            >Forgot Password ?</a
          > -->
          <a
          style="color: #ffffff"
          routerLink="/forgotPassword"
          >Forgot Password ?</a
        >
        </p>
        <p>
          <a style="cursor: pointer; color: #ffffff" (click)="newUsers()"
            >Create a new account</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
