.container {
  margin-top :1vh;
  margin-bottom: 1vh;
  background-repeat: no-repeat;
  background-image: url("https://files.wallpaperpass.com/2019/10/food%20wallpaper%20186%20-%202048x1152.jpg");
  background-size: cover;
}

.header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white
}

span {
  color: red;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

label {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.login-center{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  padding-bottom:10%;
}

.center {
  padding:2%;
  opacity: 0.90;
  background-color: rgb(92, 97, 93);
}

.help-block {
  color: white
}


