.login {
  margin: auto;
  padding: 36px;
  width: 30%;
  height: auto;
  align-items: center;
  background: rgba(226, 231, 226, 0.9);
  color: black;
}

span {
  color: red;
  font-family: "Times New Roman", Times, serif;
}

.container {
  margin-top: 7%;
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 768px) {
  .login {
    width: 100%;
  }
}

form > button {
  width: 100%;
  margin-top: 10px;
}

.orStyle {
  margin-top: 2px;
  margin-left: 0.5rem;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
