<div class="container">
  <div>
    <h3>Add your Recipe</h3>
  </div>
  <form (ngSubmit)="onUpdateRecipe()" [formGroup]="contributionForm">
    <div class="mb-3">
      <label for="name">Recipe Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="recipename"
      />
      <span
        class="help-block"
        *ngIf="
          !contributionForm.get('recipename').valid &&
          contributionForm.get('recipename').touched
        "
        >**This field is required.</span
      >
    </div>
    <div class="mb-3">
      <label for="name">Author</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="author"
      />
      <span
        class="help-block"
        *ngIf="
          !contributionForm.get('author').valid &&
          contributionForm.get('author').touched
        "
        >**This Field is required</span
      >
    </div>
    <div class="mb-3">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        class="form-control"
        formControlName="description"
      />
      <span
        class="help-block"
        *ngIf="
          !contributionForm.get('description').valid &&
          contributionForm.get('description').touched
        "
        >**This Field is required</span
      >
    </div>
    <div class="mb-3">
      <label for="image">Image Link</label>
      <input
        type="text"
        id="image"
        class="form-control"
        formControlName="image"
        #imagePath
      />
      <span
        class="help-block"
        *ngIf="
          !contributionForm.get('image').valid &&
          contributionForm.get('image').touched
        "
        >**This Field is required</span
      >
    </div>
    <div class="mb-3">
      <img [src]="imagePath.value" class="img-responsive" height="250px" width="250px">
    </div>
    <div formArrayName="integridents" class="mb-3">
      <h5>Integridents</h5>

      <div
        class="form-group"
        *ngFor="
          let intgeridentControl of getIntgeridentsControls();
          let i = index
        "
      >
        <input type="text" class="form-control" [formControlName]="i" />
        <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteIngredient(i)">x</button>
      </div>
      <button class="btn btn-info" type="button" (click)="onAddIntgerident()">
        +
      </button>
    </div>
    <div formArrayName="procedure" class="mb-3">
      <h5>Procedure</h5>
      <div
        class="form-group"
        *ngFor="let procedureControl of getProcedureControls(); let i = index"
      >
        <input type="text" class="form-control" [formControlName]="i" />
        <span>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteProcedure(i)">x</button>
        </span>
      </div>
      <button class="btn btn-info" type="button" (click)="onAddProcedure()">
        +
      </button>
    </div>
    <div class="col-xs-12" style="padding-left: 40%">
      <button
        [disabled]="!contributionForm.valid"
        class="btn btn-success"
        type="submit"
      >
        Update
      </button>
      <span style="padding-left: 10px"></span>
      <button
        class="btn btn-danger"
        [disabled]="!contributionForm.valid"
        type="button"
        (click)="onReset()"
      >
       Cancel
      </button>
    </div>
  </form>
</div>
