.container {
  margin-top :5%;
  background-color: rgb(226, 231, 226);
  margin-bottom: 5%;
}

.header {
  text-align: center;
  padding-top: 3%;
  font-family: "Times New Roman", Times, serif;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

span {
  color: red;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

h5,
label {
  color: rgb(29, 29, 29);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

form > div {
  padding-top: 10px;
}

