<div class="filterbox">
  <input class="form-control" id="myInput" type="text"  [(ngModel)]="filteredRecipe" placeholder="Search Recipe Name">
</div>
<div class="container">
  <div
    class="card recipe-card"
    *ngFor="let recipe of recipe | filter:filteredRecipe:'name'"
  >
    <img
      [src]="recipe.image"
      class="card-img-top"
      alt="Card image cap"
      height="250px"
      width="250px"
    />
    <div class="card-body">
      <div class="recipe-detail-card">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
      <div >
        <a (click)="getRecipe(recipe.id)" class="btn btn-primary"
        >View Details</a >
      </div>
    </div>
  </div>
</div>
