<div class="row" style="margin-left: 100px;">
    <div class ="col-xl">
        <h1 style="text-align: center;">Welcome to Jhoooo's Recipes</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam reiciendis blanditiis sint quidem nulla quam consequatur rerum amet quasi illo, omnis eum optio distinctio quibusdam deserunt, ratione perferendis doloribus aliquid?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta necessitatibus veritatis porro itaque commodi, voluptates explicabo magnam odio libero veniam atque delectus sequi optio asperiores voluptate quos ipsam, perferendis eligendi.
        </p>
    </div>
</div>
