<div class="container">
  <div class="row home">
    <div class="contentStyle">
      <img
        src="https://hips.hearstapps.com/harpersbazaaruk.cdnds.net/16/43/2560x1280/landscape-1477325518-cooking-books.jpg?resize=980:*"
        alt="Home Page Image"
      />
      <p style="margin-top: 40px">
        The majority of us love to cook or at least try to cook some food,
        perhaps daily or on special occasions. We do keep recipes, some in the
        papers, some have organized books, some scribbled it on a convenient
        place like kitchen boards, some just permanently place them on their
        brains.
      </p>
      <p>
        <i
          ><b
            >Cooking is an art, food gratifies the audience when we cook with a
            secret ingredient called “Love”.</b
          ></i
        >
      </p>
      <p>
        I have not learned cooking, but loves to cook for my family. Like
        someone said, <strong><i>“I am an accidental home cook”</i></strong>
        Picked up the skill gradually when I generate some interest in cooking.
        The level of satisfaction I get from cooking is unexplainable,
        especially when my family enjoys them with a big wide smile on their
        face.
      </p>
      <p>
        That smile gives me the confidence, that smile is my pillar and
        inspiration, that smile gives me the reason to venture into new recipes.
        There is a saying,
      </p>
      <h3 style="margin-left: 100px; color: rgb(119, 122, 121)">
        <i>"The easiest way to reach a Man’s mind is through his stomach."</i>
      </h3>
      <p></p>
      <h4>
        <b
          >“This Recipe Book for all” intends to showcase the varieties of
          foolproof recipes from all over the world. A single place for all
          Aspiring chefs & Avid cooks to share your masterpiece recipes to the
          rest of world as well as to share your cooking tips, hacks as well.</b
        >
      </h4>
    </div>
  </div>
</div>
<app-footers></app-footers>
